.os{
    text-align: center;
  
    font-family: "Fira Sans", Arial, sans-serif;

    margin-top:30px;
    margin-left: 280px;
    margin-right: 280px;
    font-family: "Fira Sans", Arial, sans-serif;
  }
  .intro{
    font-family: "Fira Sans", Arial, sans-serif;
    color: #3f76b5;}