<!doctype html>
<html lang="en">
	<head>        <link href="{{ url_for('static', filename='css/Osdetec.css') }}" rel="stylesheet">

		<title>Scan Nmap</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/App.css') }}" rel="stylesheet">


		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

		<!-- Custom Scripts -->
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
    <body>
        <div class="main-header">
            <div class="container">
                <h3>Nmap Scan </h3>
                <div class="col-xs-6" style="padding-left: 0px;">
                </div>
                <div class="col-xs-6 text-right">
                </div>
            </div>
        </div>
        <div class="os " >
             <h2> IPV4 address :{{value["scan"]["192.168.10.50"]["addresses"]["ipv4"]}}</h2>
                <h2> MAC address :{{value["scan"]["192.168.10.50"]["addresses"]["mac"]}}</h2>
                <h2> Name : {{value["scan"]["192.168.10.50"]["tcp"]["443"]["name"]}}</h2>
                <h2> Ssl-cert: {{value["scan"]["192.168.10.50"]["tcp"]["443"]["script"]["ssl-cert"]}}</h2>


        </div>
            

    </body>
</html>